<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fxzs.lingxiagent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <!-- 极光一键登录权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 中国电信 -->
    <uses-permission android:name="android.permission.READ_SMS" />


    <!-- 极光推送权限 -->
    <permission
        android:name="com.fxzs.lingxiagent.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.fxzs.lingxiagent.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <!-- Optional -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在 6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".IYAApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31"

        android:icon="@drawable/icon_app"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <activity
            android:name=".view.auth.OneClickLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.auth.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.auth.RegisterNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.auth.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.auth.PasswordResetSuccessActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.auth.ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
            
        <!-- 用户中心模块 -->
        <activity
            android:name=".view.user.UserProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.user.UserSettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.user.AccountSafetyActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.user.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".view.user.HelpWebViewActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.user.HistoryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.user.AboutAppActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.user.HelpCenterActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.user.AccountInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.user.EditNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.user.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.user.ChangeMobileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.user.AccountCancellationActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.user.LanguageSettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.user.ModelSelectionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.user.FeedbackHistoryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.user.FeedbackSuccessActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.common.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.user.FeedbackDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity android:name=".view.user.FeedbackWebViewActivity" />
<!--        <activity-->
<!--            android:name="com.fxzs.lingxiagent.view.user.VersionUpdateActivity"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
<!--            android:exported="false" />-->

        <!-- 代码查看模块 -->
        <activity
            android:name=".view.code.CodeFullscreenActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- 表格查看模块 -->
        <activity
            android:name=".view.table.TableFullscreenActivity"
            android:screenOrientation="landscape"
            android:exported="false" />

        <!-- AI绘画模块 -->
        <activity
            android:name=".view.drawing.DrawingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="false" />
        <activity
            android:name=".view.drawing.DrawingEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="false" />
        <activity
            android:name=".view.drawing.DrawingChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:exported="false" />
        <activity
            android:name=".view.drawing.DrawingHistoryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.drawing.DrawingImageViewerActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.drawing.DrawingDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.drawing.DrawingGalleryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.drawing.AspectRatioSelectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.drawing.DrawingSamplesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.drawing.DrawingSuccessActivity"
            android:screenOrientation="portrait"
            android:exported="false" />



        <!-- Meeting Activities -->
        <activity
            android:name=".view.meeting.MeetingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.meeting.RealtimeMeetingActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".view.meeting.MeetingViewActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.meeting.MeetingUploadWaitingActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.meeting.StreamActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
            
        <!-- Chat Activities -->
        <activity
            android:name=".view.chat.SuperChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.chat.SuperChatContainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:exported="false" />
            
        <!-- Common Components Demo -->
        <activity
            android:name=".view.common.VoiceInputDemoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.meeting.MeetingContainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.drawing.DrawingContainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.user.UserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:exported="false" />
        <activity
            android:name=".view.user.UserContainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <!-- FileProvider for image capture -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:exported="false"
            android:authorities="${applicationId}.jiguang.InitProvider"
            android:name="cn.jpush.android.service.InitProvider"></provider>

        <!-- 高德地图配置 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="3ce8e0e1265c65c636789804c3571b2c" />
        <service android:name="com.amap.api.location.APSService"/>

        <!-- 极光一键登录配置 -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="6c6b9df7a3c72fcca64c5d9e"
            tools:replace="android:value" />
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"
            tools:replace="android:value" />
            
        <!-- 极光推送核心功能 -->
        <!-- PushService -->
<!--        <service-->
<!--            android:name="cn.jpush.android.service.PushService"-->
<!--            android:exported="false"-->
<!--            android:process=":pushcore">-->
<!--            <intent-filter>-->
<!--                <action android:name="cn.jpush.android.intent.REGISTER" />-->
<!--                <action android:name="cn.jpush.android.intent.REPORT" />-->
<!--                <action android:name="cn.jpush.android.intent.PushService" />-->
<!--                <action android:name="cn.jpush.android.intent.PUSH_TIME" />-->
<!--            </intent-filter>-->
<!--        </service>-->

        <!-- 极光SDK核心组件 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.fxzs.lingxiagent" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required -->
        <receiver 
            android:name="cn.jpush.android.service.AlarmReceiver" 
            android:exported="false" />

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.JiGuangPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.fxzs.lingxiagent" />
            </intent-filter>
        </receiver>
        
        <!-- Required JCommonService -->
<!--        <service-->
<!--            android:name="cn.jpush.android.service.JCommonService"-->
<!--            android:exported="false"-->
<!--            android:process=":pushcore" />-->
        
        <!-- User defined. 用户自定义Push接收器 -->
        <receiver
            android:name=".service.JiGuangPushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- FileProvider for sharing exported files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <service android:name=".service.FloatWindowService" />
        <service android:name=".lingxi.main.service.FloatViewModelService" />
        <service android:name=".service.MenuActionFloatService" />
        <service
            android:name=".lingxi.main.service.KeyService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <provider
            android:name="com.fxzs.lingxiagent.lingxi.easyfloat.EasyFloatInitializer"
            android:authorities="${applicationId}.EasyFloatInitializer"
            android:exported="false"
            android:multiprocess="true" />
        <activity
            android:name=".lingxi.help.FunctionHelpActivity" />
        <activity
            android:name=".view.user.AgreementActivity" />
    </application>

</manifest>